@import "tailwindcss";

:root {
  font-family: Inter, Poppins, Nunito Sans;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-white-background: #F5F3FF;
  --color-purple-accent: #C4B5FD;
  --color-purple-primary-light: #A78BFA;
  --color-purple-primary: #8B5CF6;
  --color-purple-text: #4C1D95;
  --color-purple-heading: #2D1B57;
}

@media (prefers-color-scheme: light) {
  :root {}
}

body {
  font-family: Inter, Poppins, Nunito Sans;
}